<%= form_with(model: sumple_article, local: true) do |form| %>
  <% if sumple_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sumple_article.errors.count, "error") %> prohibited this sumple_article from being saved:</h2>

      <ul>
        <% sumple_article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
