<p id="notice"><%= notice %></p>

<h1>Sumple Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sumple_articles.each do |sumple_article| %>
      <tr>
        <td><%= sumple_article.title %></td>
        <td><%= sumple_article.content %></td>
        <td><%= link_to 'Show', sumple_article %></td>
        <td><%= link_to 'Edit', edit_sumple_article_path(sumple_article) %></td>
        <td><%= link_to 'Destroy', sumple_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sumple Article', new_sumple_article_path %>
